

body{
    max-width: 960px;
    margin: auto;
    background-color: rgb(255, 192, 252);
    padding: 5em;
    color: rgb(41, 2, 41);
  }

  h1{
    color: aqua;
    font-size: 24;
  }

  h2{
   color: aquamarine;   
   font-size: 14;
  }
  
  main{
    background-color: powderblue;
  }

  img{
     width: 40px;
     height: auto px;
  }
  footer{ 
    background-color: aquamarine;

  }
  