html {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
  background-color: rgb(121, 9, 102);
}

body {

  background-color:  rgb(121, 9, 102);
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  color:  black;
  margin: 1em;
}

h1 {
  color: black);
  font-family: 'Crimson Text', serif;
  font-size: 32px;
  text-align: center;
}

h2 {
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  padding: 1em;
}

main {
  background-color: rgb(138, 195, 202);
  margin: 1em;
}

img {
  max-width: 50%;
  height: auto;
}

p {
  color:black;

}

header,footer {
  background-color: rgb(73, 189, 204);
  margin: 1em;
  text-align: center;
  padding: 1em;
}

.imageOfMe {
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.lessonList {
  text-align: left;
  margin-bottom: 1em;
}

.copyright {
text-align: center;
}