@media only screen and (min-width: 42em) {
    nav button {
        display: none;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav ul.hide_navigation,
    nav ul {
        display: flex;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }

    header {
        text-align: left;
    }
}