h1 {
    font-size: 3rem;
    margin: 0;
    color: #FFF9EB;

}

h2 {
    text-align: center;
    font-size: 2.5rem;
}
h2,
h1,
h3,
h4 {
    color: #35281C;
}

h1,
h2,
h3,
h4 {
    font-family: 'Libre Baskerville', serif;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    color: #35281C;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #35281C;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/***********************************************NAV*******************************************************/
nav {
    background-color: #97EAD2;
    color: #35281C;
    text-align: center;
    font-size: 1.5rem;
}

nav a {
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: #35281C;
}

nav a:hover {
    color: #FFF9EB;
    background-color: #35281C;

}

nav ul
 {
    list-style: none;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

nav {
    background-color: #97EAD2;
    color: #35281C;
    text-align: center;
    font-size: 1.5rem;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

div.hide_alert,
nav ul.hide_navigation {
    display: none;
}



nav ul li a {
    padding: .8rem 2%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: block;
}

.active {
    background-color: rgba(0, 0, 0, 0.2);

}

button {
    color: #35281C;
    font-family: 'Roboto', sans-serif;
}


html {
    background-color: #FFF9EB;
}

header {
    background-color: #03B2C9;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    padding: 1rem;
   /* background-color: #1A6318;*/
   background-color:#FFE7D7;
}

footer p,
footer a:link,
footer a:visited {
    color: #35281C;
}

footer {
    background-color: #03B2C9;
    padding: 1em;
    text-align: center;
}

div.weatherhome,
div.rentaltypehome,
div.content-box,
div.contact-box,
div.forecast-container,
div.bonus,
div.faq ,
div.storeimgsm{
    background-color: #FFF9EB;
    margin: 20px;
    border: 5px solid #03B2C9;
    padding: 20px;

}

div.weatherhome,
div.rentaltypehome {
    text-align: center;
}

div.weatherinfo {
    background-color: #03B2C9;
    margin: 20px;
    padding: 20px;
}

.forecast-container {
    display: block;
}

.forecast-table {
    display: flex;
    flex-flow: row wrap;
    border-right: 1px solid #35281C;
}

.days {
    display: block;
    padding: 6px;
    border-bottom: 1px solid#35281C;
    text-align: center;
    font-size: 1rem;
    background-color: #35281C;
    color: #F9F4F5;
}

.forecast-col {
    flex: 1 1 auto;
    background-color: #03B2C9;
    border: 3px solid #35281C;
    text-align: center;
}

.weatherinfo:hover,
.forecast-col:hover {
    opacity: 0.9;
    background-color: #97EAD2;
    color: #35281C;
}

.forecast-title {
    text-align: center;
}

.forecastTemp {
    display: block;
    padding: 0 5px 5px;
    font-size: 0.8rem;
    text-align: center;
}

div.herocontainer {
    margin: 20px;
    position: relative;
}

img.hero-img {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid #35281C;
}

section.calltoaction {
    top: 50px;
    right: 50px;
    background:#97EAD2;
    ;
    padding: .5rem;
    box-shadow: 0 0 30px #35281C;
    border: 2px solid #35281C;
    margin: 20px;
    text-align: center;
    position: absolute;
}

.cozumelmap,
iframe {
    max-width: 450px;
    width: 100%;
    height: 100%;
}

img[data-src] {
    filter: blur(0.2em);
}

img {
    width: auto;
    height: auto;
    filter: blur(0em);
    transition: filter 0.5s;
}

.motto {
    font-size: 1.3rem;
}

/*****************************************************Rental Page cards***********************************************/
div.rentalcards section {
    background-color: #FFF9EB;
    color: #35281C;
    text-align: center;
    padding: 1rem;
    margin: 1.5rem;
    max-width: 100%;
    border: 5px solid #03B2C9;
}

div.rentalcards img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

/***************************************************alerts***********************************************************/
.weatheralert {
    display: none;
    background-color: #97EAD2;
    color: #35281C;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0 30px #35281C;
    border: 2px solid #35281C;
    position: absolute;
    bottom: 10px;
    margin: 20px;
}

/*********************************************************form styling**************************************************/
form fieldset ul{
    list-style: circle;
}
form fieldset {
    margin: 2rem 0;
    border: 3px solid #03B2C9;
    color: #35281C;
    padding: 1rem 2%;
}

form legend {
    color: #35281C;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.2rem;
}

form label.top,
label.comments,
form div {
    display: block;
    padding-top: 1rem;
    Color: #35281C;
    font-size: 1.1rem;
}

form label.top input,
form label.top select,
textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #03B2C9;
    border-radius: 4px;
    padding: .75rem;
    color: #35281C;
    width: 100%;
    max-width: 20rem;
    background-color: #97ead344;
}

form input.submitBtn {
    border: none;
    background-color: #03B2C9;
    color: #35281C;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #35281C;

}

textarea {
    resize: none;
}

form {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: #FFF9EB;
    max-width: 24rem;
}

/* these do not work properly and I was strugling with this! */
form label.top input:required,
form label.top select:required {
    border-left: red solid 4px;
}

form label.top input:required:valid,
form label.top select:required:valid {
    border-left: green solid 4px;
}

.tymessage {
    background-color: #FFF9EB;
    padding: 1rem;
    text-align: center;
}

/***************************************images and styling*****************************************/
img.palmtreesimg,
img.scooterstoreimg {
    display: none;
}

img.smimg{
    margin-left: auto;
        margin-right: auto;
        padding: 20px;
        width: 100%;
        height: 100%;
}

/****************************************contact container********************************************************************/
.contact-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr;
}

h3.contact-title {
    grid-row: 1;
    grid-column: 1/3;
}

div.bonus {
    background-image: url("../images/sunsetbeach800.jpg");

}

section.article {
    background-color: #FFF9EB;
    /* background color  */
    background-color: rgba(206, 203, 203, 0.589);
    /*  and the opacity */
    margin: 20px;
    padding: 20px;
}

iframe {
    grid-column: 1;
    grid-row: 2
}

.contact {
    margin-left: auto;
    margin-right: auto
}

.contactinfo {
    padding: .6rem;
    margin: auto;
    grid-column: 2;
    grid-row: 2;
}

/***********************************************Reference for colors used*********************************************/
.primary {
    background-color: #FFE7D7;
}

.secondary {
    background-color: #03B2C9;
}

.accent1 {
    background-color: #97EAD2;
}

.accent2 {
    background-color: #35281C;
    color: #FFF9EB;
}

.accent3 {
    background-color: #FFF9EB;
}

.accent4 {
    background-color: #FFD166;
}