@media only screen and (min-width: 65em) {

    main,
    body {
        max-width: 1000px;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    
	}
	.navigation li:first-child {
		display: none;
	}
}

}