@media only screen and (min-width: 65rem) {

    main,
    body {
        max-width: 960px;
        margin: auto;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    padding: .6rem 1rem;
	}

}
