@media only screen and (min-width: 35em) {
    nav button {
        display: none;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav ul.hide_navigation,
    nav ul {
        display: flex;
        margin-left: 2%;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }

}