@media only screen and (min-width: 65em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .contrast {
        grid-column: 1/2;
    }
    .visualHierarchy{
        grid-column: 2/3;
    }
    .fittsLaw{
        grid-column: 3/4;
    }
}