@media only screen and (min-width: 65em) {
    .principles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .contrast {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .visualHierarchy{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .fittsLaw{
        grid-column: 3/4;
        grid-row: 1/2;
    }
}