@media only screen and (min-width: 65em) {
    .section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .contrast {
        grid-row: 1/2;
    }
    .visualHierarchy{
        grid-row: 2/3;
    }
    .fittsLaw{
        grid-row: 3/4;
    }
}