body {
    background-color: white;
    font-size: 16px;
    line-height: 1.5;
}

main {
    max-width: 767px;
    margin: 0 auto;
    display: grid;
    color: black;
    grid-template-columns: 1fr;
    background-color: lightgrey;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 1em;
}

h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: midnightblue;
    margin: 0;
}

h2 {
    font-size: 1rem;
    color: white;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(42, 73, 131);
    border-radius: 9px 9px;
}

h3 {
    font-size: .9rem;
    color: black;
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 5px 0;
    border-radius: 9px 9px;
}

h4 {
    text-align: left;
    margin: 5px 0;
    color: navy;
}

p {
    margin: 5px 0;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.name {
    font-size: 1.5rem;
}

.contrast,
.visualHierarchy,
.fittsLaw {
    padding: 1em; 
    border: 1px solid rgb(42, 73, 131);
    border-radius: 9px 9px;
}

header {
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

footer {
    margin-top: 50px;
    padding: 20px;
    color: white;
    text-align: center;
    background-color: midnightblue;
}

footer p:last-child {
    margin-bottom: 0;
}
.copyright, .lastUpdated{
    text-align: center;
}