@media only screen and (min-width: 35em) {
    nav button {
        display: none;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav ul.hide_navigation,
    nav ul {
        display: flex;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }

    header {
        text-align: left;
    }

    .article-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr;
    }

    .article-title {
        text-align: left;
    }

    .article-content {
        grid-column: 1;
        grid-row: 2;
    }

    .articleimg {
        grid-column: 2;
        grid-row: 2;
        margin-left: auto;
        margin-right: auto;
    }
   

    .prestonMap {
        display: block;
        width: auto;
        height: 150px;
        grid-column: 1;
    }
    .forecast-table {
        display: flex;
        flex-flow: row wrap;
        border-right: 1px solid #3D3A4B;
    }
    
    .forecast-head {
        display: block;
        padding: 5px;
        border-bottom: 1px solid #333;
        text-align: center;
        font-size: 1rem;
        background-color: #3D3A4B;
        color: #F9F4F5;
    }
    
    .forecast-col {
        flex: 1 1 auto;
        background-color: #F6AE2D;
        border-bottom: 1px solid #3D3A4B;
        border-left: 1px solid #3D3A4B;
        text-align: center;
    }
    
    .forecast-col:hover {
        opacity: 0.75;
        background-color: #5BC0EB;
        color: #F9F4F5;
    }
    
    .temp {
        display: block;
        padding: 0 5px 5px;
        font-size: 0.8rem;
        text-align: center;
  
}