@media only screen and (min-width: 65em){
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr;
    }
    .visualHiearchy {
        grid-column: 1/1;
        grid-row: 1/2;
    }

    .contrast {
        grid-column: 2/2;
        grid-row: 1/2;
    }

    .fittsLaw {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}