body {
    background-color: purple;
}

main {
    max-width: 767px;
    margin: 0 auto;
    display: grid;
    color: black;
    grid-template-columns: 1fr;
    background-color: rgb(160, 121, 160);
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 1em; 
}

h1 {
    font-size: 20;
    color: blueviolet;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color:black;
    padding: 1em; 
}

h2 {
    font-size: 16;
    color: blueviolet;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:black;
    padding: 1em;
}

h3 {
    font-size: 10;
    color: blueviolet;
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    background-colorrgb(110, 110, 110);
    padding: 1em;
}

img {
    max-width: 50%;
    height: auto;
    margin-right: auto;
    margin-left: auto; 
}